### IntelliJ IDEA ###
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin
.gradle/
build/

### Configuracion local ###
config.properties
config.local.properties
.env
*.env

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Archivos clinicos subidos ###
uploads/

### Paquetes generados ###
OdontoGral-deploy.zip

### Archivos internos de herramientas ###
.agents/

### Mac OS ###
.DS_Store
